.form_control {
  display: flex;
  flex-direction: column;
  margin: 1em 0em 1em 0em;
}

.form_control label {
  font-size: 0.9em;
  margin-bottom: 0.2em;
  font-weight: bold;
}

.form_control select {
  padding: 1em;
  border-radius: 1em;
  border: none;
  cursor: pointer;
}
