.btn {
  background-color: #222;
  color: #FFF;
  padding: 0.5em 1em;
  transition: 0.5s;
  border: none;
  border-radius: 0.5em;
  float: right;
  cursor: pointer;
  height: max-content;
  font-size: 1em;
}

.btn:hover {
  color: #fb3
}