.serviceCard {
  border: 1px solid #7A7A7A;
  border-radius: 10px;
  min-width: 250px;
  margin: 1%;
}

.serviceCard h4 {
  background-color: #222;
  border-radius: 10px 10px 0px 0px;
  color: #FFBB33;
  padding: 0.5em;
  font-size: 1.5em;
  text-indent: .2em;
}

.serviceCard p {
  padding: 1em 1em 0 1em;
  color: #7a7a7a;
}

.serviceCard p span {
  font-weight: bold;
}

.category_text {
  display: flex;
  align-items: center;
}

.category_text span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #CCC;
  margin-right: 15px;
}

.category_text .Infra {
  background-color: #0346cc;
}

.category_text .Desenvolvimento {
  background-color: #08a035;
}

.category_text .Design {
  background-color: #e2900d;
}

.serviceCard_actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.serviceCard_actions a, .serviceCard_actions button {
  text-decoration: none;
  background-color: #FFF;
  color: #222;
  font-size: 0.8em;
  padding: 0.8em;
  cursor: pointer;
  border: 1px solid #222;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border-radius: 1em;
  margin: 1em;
}

.serviceCard_actions svg {
  margin-right: 0.5em;
}

.serviceCard_actions a:hover, .serviceCard_actions button:hover {
  color: #FFBB33;
  background-color: #222;
}