.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  background-color: #222;
  padding: 1em;
}

.img {
    align-items: initial;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
}

.item {
  margin-right: 0.8em;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #fb3;
  text-decoration: none;
}