.project_details {
  padding: 2em;
}

.project_details h1 {
  padding: 0.3em 1em;
  color: #FFBB33;
  background-color: #222;
  border-radius: 0.5em;
}

.project_details p {
  padding-top: 1em;
  color: #555353;
}

.project_details span {
  font-weight: bold;
}

.details_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  background-color: #222;
  color: #FFF;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 0.5em;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: max-content;
  margin: 1em;
}

.btn:hover {
  color: #fb3
}

.project_info {
  width: 100%;
}

.service_form_container {
  background-color: #FFF;
}

.xpto {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
}