.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.minHeight {
  min-height: 65.2vh;
}

.start {
  justify-content: flex-start;
}

.colunm {
  flex-direction: column;
  justify-content: flex-start;
}