.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.start {
  justify-content: center;
}

.colunm {
  flex-direction: column;
  justify-content: center;
}