.footer {
  background-color: grey;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

}

.list li {
  margin: 0px;
}

.list svg {
  font-size: 1.5em;
  cursor: pointer;
}